<tr id="comment-body-<%= comment.id %>">
  <td colspan="2">
    <%= form_with model: [@group, @comment], url: game_group_comment_path(@group.game, @group, @comment), remote: true do |f| %>
      <div class="mb-2">
        <%= f.text_area :body, class: 'form-control', rows: 3 %>
      </div>
      <div class="d-flex justify-content-between">
        <%= f.submit '更新', class: 'btn btn-success btn-sm' %>
        <button type="button" class="btn btn-secondary btn-sm" onclick="location.reload()">キャンセル</button>
      </div>
    <% end %>
  </td>
</tr>