<div class="container text-center">
  <h1 class="m-5">思い出に花を咲かせませんか？</h1>
  <h3>
    ここは憩いの場、思い出に想いを馳せる場です。<br>
    物語に、グラフィックに、キャラクターに<br>
    それぞれへの想いを語り合う場所です。<br>
    ただし、他者の想いを否定するのだけはしてはいけません。<br>
    それは人の大切な思い出を汚す行為、<br>
    そのような言動が見られた場合は退場してもらいます。
  </h3>

</div>