<div class="container">
  <div class="row">
    <div class="col">
      <%= @user.name %>さんの詳細情報
    </div>
  </div>

  <div class="row">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">氏名</th>
          <td><%= @user.name %></td>
        </tr>

        <tr>
          <th scope="row">フリガナ</th>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>